.padright{
    border-style: solid;
    border-color: #22bfe0;
    border-width:10px;

}
.submitbutton{
    width:100%;
}
.diagnosis{
    font-size:20px;
    color: #22bfe0;
    text-align: center;
    padding-top:30px;
}

.popover-content {
    left: 2%;
    right: 2%;
    width: 96% !important;
}