page-newrequest3 {

}
.sent{
  font-size: 25px;
  color: lightgreen;
  text-align:center;
}
.centerpic{
  text-align: center;
  padding-top:50px;
}
.centertext{
  font-size: 25px;
  color:#22bfe0;
  text-align: center;
}
