page-paymentinfo {
    .smalltitle{
        font-size: 15px;
        color: #22bfe0;
        text-align:center;
    }
    .smallpadding{
        padding-left: 10px;
        padding-top: 10px;
    }
    .title{
        font-size: 25px;
        color: #22bfe0;
        text-align:center;
    }
    .smallfont{
        font-size: 12px; 
    }
    .rounded{
        border-radius: 20px;
        width: 260px;
    }
    .right{
        padding-left: 40px;
    }
   
    
    .removepadding{
        padding-top: -60px;

    }
    .white{
        background-color: transparent; 
    }
}
