page-detailspage {
    .center{
     text-align:center!important;
     align-items: center;
}
    .grey{
        color: grey;
    }
    .themeblue{
        color: #22bfe0;
    }
    .pad{
        padding-top: 40px;
        padding-right:20px;
    }
    .formInput{
      margin:10px;
    }
    .formInputbut{
      margin-top:30px;
      width:95%;
      color: white;
      background-color: #22bfe0;
      border-width: 2px;
    }
    .padlots{
        padding-top: 80px;
    }
}
