page-loadingpage {

.position{
    padding-top: 400px;
    font-size: 220%;
    text-align: center;
    height: 100%;
}
.titlestyle{
    font-family: "Arial", "Times New Roman";
    font-size: 200%;

}
.white{
    color: white;
}
.black{
    color: black;
}

}