page-newrequest2 {

}
.title{
    font-size: 25px;
    color: #22bfe0;
    text-align:center;
    padding-bottom:20px;
}
.patientdetails{
  border-style: solid;
  border-color: #22bfe0;
  border-radius: 20px;
  background-color: white;
  border-width: 2px;
  width:60%;
  margin-top:10px !important;
  margin-bottom:10px !important;
  margin: 20%;
  text-align:center;
}
.buttonpatient{
 width: 60%;
 color: white;
 background-color: #22bfe0;
}
.patientdetailsdescription{
  width: 60%;
  background-color: lightgrey;
  height:20%;
  margin:20%;
}
